numpy
torch
matplotlib
tqdm
numba
torchvision
tifffile
scikit-learn
scikit-image
scipy
pyqtgraph
PyQt5
pyqt5-tools
natsort
imagecodecs
roifile
fastremap
opencv-python
torchinfo
thop
calflops
transformers